<html>
    <head>
    <title>
        Upload Image
    </title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <div class="form-container">
            <form action="/upload" method="post" enctype="multipart/form-data">
              <input type="file" name="image" accept="image/*">
              <input type="submit" value="Upload">
            </form>
          </div>                 
    </body> 
</html>