<html>
    <head>
    <title>
        Upload Image
    </title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
      <div class="upload-form">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input class="file-input" type="file" name="image" required>
            <br>
            <button class="submit-button" type="submit">Upload</button>
        </form>
    </div>
                   
    </body> 
</html>